<!DOCTYPE html>
<html>
  <head>
    <title>Jukebox1806</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Shrikhand" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
